<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hungrypotamus</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <script src="http://code.jquery.com/jquery-latest.js"></script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Hungrypotamus</a>
        <a class="navbar-text pull-right" data-toggle="modal" href="#wtf">What is this?</a>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>

    <footer>
    </footer>
  </div> <!-- /container -->

  <div class="modal hide" id="wtf">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>About Hungrypotamus</h3>
    </div>
    <div class="modal-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.</p>
    </div>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal">Cool, thanks.</a>
    </div>
  </div>

  <div class="modal hide" id="who-are-you">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Hello, friend.</h3>
    </div>
    <div class="modal-body">
      <label for="player_name">What's your name?</label>
      <input class="xlarge" id="player_name" name="player_name" size="30" type="text" />
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary" data-dismiss="modal">Nice to meet you.</a>
      <a class="btn" data-dismiss="modal">Nevermind.  Stranger danger.</a>
    </div>
  </div>

  <script src="http://js.pusherapp.com/<%= APP_CONFIG[:current_js_version] %>/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    var pusher = new Pusher('<%= Pusher.key %>');
    var channel = pusher.subscribe('test_channel');
    channel.bind('greet', function(data) {
      alert(data.greeting);
    });
  </script>

  <%= yield :extra_js %>

</body>
</html>
